header, #login{
    text-align: center;
    margin: 50px;
}
#main{
    position: relative;
    margin: 100px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    padding: 30px;
}
#buttons{
    float: right;
}
button{
    overflow: hidden;
}
 
 
#inputEmailVisible {
    position: relative;
    left: 50px;
    border-width: 5px;
}
 
#inputPasswordVisible{
    position: relative;
    left: 25px;
}
 
#inputPasswordVisible, #inputEmailVisible{
    color: black;
}